<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729929854478-ggdd8m4ll295q5h6fi893t5ia6upv25r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729929854478-ggdd8m4ll295q5h6fi893t5ia6upv25r</string>
	<key>API_KEY</key>
	<string>AIzaSyB1nI4PALiGLOQLoXNGXl_nWCO3f2-_hqY</string>
	<key>GCM_SENDER_ID</key>
	<string>729929854478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexkhazzam.WatchListPro.WatchListPro</string>
	<key>PROJECT_ID</key>
	<string>watchlistpro-ce518</string>
	<key>STORAGE_BUCKET</key>
	<string>watchlistpro-ce518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:729929854478:ios:f01d0c3b6648cc60dfd65f</string>
</dict>
</plist>
